name: benedikta

services:
  beszel-agent:
    container_name: beszel-agent
    environment:
      LISTEN: 45876
      KEY: ${BESZEL_BENEDIKTA_AGENT_KEY}
      TOKEN: ${BESZEL_BENEDIKTA_TOKEN}
      HUB_URL: http://192.168.1.254:22220
    expose:
      - 45876
    image: henrygd/beszel-agent:latest@sha256:730ac49d1a89d315b5a9424ad8cca2f586e981da7caf151c5ec2d599f474efad
    network_mode: host
    restart: unless-stopped
    volumes:
      - beszel-agent-data:/var/lib/beszel-agent
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /dev/mmcblk0:/extra-filesystems/dev/mmcblk0:ro
  docker-socket-proxy:
    container_name: dockerproxy
    environment:
      AUTH: 1
      BUILD: 1
      COMMIT: 1
      CONFIGS: 1
      CONTAINERS: 1
      DISTRIBUTION: 1
      EVENTS: 1
      EXEC: 1
      GPRC: 1
      IMAGES: 1
      INFO: 1
      NETWORKS: 1
      NODES: 1
      POST: 1
      PLUGINS: 1
      SERVICES: 1
      SESSION: 1
      SYSTEM: 1
      TASKS: 1
      VOLUMES: 1
      LOG_LEVEL: debug
    image: ghcr.io/tecnativa/docker-socket-proxy:latest@sha256:1f3a6f303320723d199d2316a3e82b2e2685d86c275d5e3deeaf182573b47476
    ports:
      - 2375:2375
    privileged: true
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  linux-voice-assistant:
    container_name: linux-voice-assistant
    pull_policy: build
    build:
      context: https://github.com/OHF-Voice/linux-voice-assistant.git#main
      network: host
      dockerfile_inline: |
        ###### syntax=docker/dockerfile:1
          FROM python:3.13-slim-trixie

          ENV LANG=C.UTF-8
          ENV DEBIAN_FRONTEND=noninteractive

          RUN apt-get update && \
              apt-get install --yes --no-install-recommends \
              avahi-utils alsa-utils libportaudio2 portaudio19-dev \
              build-essential libmpv-dev pulseaudio

          WORKDIR /srv
          COPY . ./
          RUN ./script/setup

          ENTRYPOINT ["./script/run"]
    image: ohf-voice/linux-voice-assistant:latest
    restart: always
    ports:
      - "6053:6053"
    devices:
      - /dev/snd:/dev/snd
    volumes:
      - /run/user/$(id -u)/pipewire-0:/run/user/$(id -u)/pipewire-0
    environment:
      PULSE_SERVER: /run/user/$(id -u)
    group_add:
      - audio
    command:
      - "--name"
      - "benedikta"
      - "--list-input-devices"
  portainer-agent:
    container_name: portainer_agent
    image: portainer/agent:latest@sha256:5b33e50ff131094e0b1b7272cc34205c970b6b25cecf4bbcf7c13298388a4832
    volumes:
      - /:/host
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    ports:
      - 9001:9001
  signoz-logspout:
    command: signoz://192.168.1.254:8082
    container_name: signoz-logspout
    environment:
      ENV: prod
      SIGNOZ_LOG_ENDPOINT: http://192.168.1.254:8082
    image: pavanputhra/logspout-signoz@sha256:6da8ce12279a5262de8b2d5c083ce82d4c878c4eab702b4d328afe147ed7553b
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  wyoming-satellite:
    command: "--name benedikta --mic-command 'arecord -D plughw:CARD=seeed2micvoicec,DEV=0 -r 16000 -c 1 -f S32_LE -t raw' --snd-command 'aplay -D plughw:CARD=seeed2micvoicec,DEV=0 -r 22050 -c 1 -f S32_LE -t raw' --wake-uri 'tcp://wyoming-openwakeword:10400' --wake-word-name 'ok_nabu' --vad --awake-wav /app/sounds/awake.wav --done-wav /app/sounds/done.wav --debug"
    container_name: wyoming-satellite
    devices:
      - /dev/snd
    image: sker65/wyoming-satellite@sha256:581e592794db847aee730e7c8cbf23217e9f779724f9f8b004072ddc4f3a701d
    ports:
      - 10700:10700
    restart: unless-stopped
  wyoming-openwakeword:
    command: "--preload-model ok_nabu --debug"
    container_name: wyoming-openwakeword
    image: rhasspy/wyoming-openwakeword@sha256:52cb1168731a1849fc28cf339c935fde58746bbabc94226668a40ef6ddf5d42b
    ports:
      - 10400:10400
    restart: unless-stopped
volumes:
  beszel-agent-data:
    name: beszel-agent-data
