name: ovosmisc

services:
  beszel-agent:
    container_name: beszel-agent
    environment:
      LISTEN: 45876
      KEY: "${BESZEL_BENEDIKTA_AGENT_KEY}"
      TOKEN: ${BESZEL_BENEDIKTA_TOKEN}
      HUB_URL: http://192.168.1.254:22220
    expose:
      - 45876
    image: henrygd/beszel-agent:latest@sha256:dee59d68ac327a755aec7651dd31b9f9a6d7db3da6f093e16e8c36c1f71a18cd
    network_mode: host
    restart: unless-stopped
    volumes:
      - beszel-agent-data:/var/lib/beszel-agent
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /dev/mmcblk0:/extra-filesystems/dev/mmcblk0:ro
  docker-socket-proxy:
    container_name: dockerproxy
    environment:
      AUTH: 1
      BUILD: 1
      COMMIT: 1
      CONFIGS: 1
      CONTAINERS: 1
      DISTRIBUTION: 1
      EVENTS: 1
      EXEC: 1
      GPRC: 1
      IMAGES: 1
      INFO: 1
      NETWORKS: 1
      NODES: 1
      POST: 1
      PLUGINS: 1
      SERVICES: 1
      SESSION: 1
      SYSTEM: 1
      TASKS: 1
      VOLUMES: 1
      LOG_LEVEL: debug
    image: ghcr.io/tecnativa/docker-socket-proxy:latest@sha256:3400c429c5f9e1b21d62130fb93b16e2e772d4fb7695bd52fc2b743800b9fe9e
    ports:
      - 2375:2375
    privileged: true
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  hivemind_cli:
    container_name: hivemind_cli
    hostname: hivemind_cli
    restart: unless-stopped
    image: docker.io/smartgic/hivemind-cli:alpha@sha256:896cb56b9c5b1a4eaeba0cb7c53ae173a4b0f777163cbd2573e2b183cbf41ceb
    pull_policy: always
    tty: true
    environment:
      TZ: ${TZ}
    network_mode: host
    volumes:
      - ${BENEDIKTA_DOCKER_DIR}/hivemind/config:/home/${HIVEMIND_USER}/.config/hivemind:z
      - ${BENEDIKTA_DOCKER_DIR}/hivemind/share:/home/${HIVEMIND_USER}/.local/share/hivemind:z
    depends_on:
      - hivemind_satellite
  hivemind_satellite:
    container_name: hivemind_satellite
    hostname: hivemind_satellite
    restart: unless-stopped
    image: smartgic/hivemind-satellite:alpha@sha256:3057968a493fab9dcca9e1274757bd7fe61d9b143ae2900939e1ec5bbc96664a
    pull_policy: always
    environment:
      PULSE_SERVER: unix:${XDG_RUNTIME_DIR}/pulse/native
      PULSE_COOKIE: /home/${HIVEMIND_USER}/.config/pulse/cookie
      TZ: ${TZ}
      VOICE_SAT_KEY: ${HV_VOICE_SAT_KEY}
      VOICE_SAT_PASSWORD: ${HV_VOICE_SAT_PASSWORD}
      VOICE_SAT_HOST: 192.168.1.248
      VOICE_SAT_PORT: 5678
      XDG_RUNTIME_DIR: $XDG_RUNTIME_DIR
    devices:
      - /dev/snd
    volumes:
      - ~/.config/pulse/cookie:/home/${HIVEMIND_USER}/.config/pulse/cookie:ro
      - ${BENEDIKTA_DOCKER_DIR}/hivemind:/home/${HIVEMIND_USER}/.config/mycroft:ro
      - hv_ovos_tts_cache:/home/${HIVEMIND_USER}/.cache/mycroft
      - hv_ovos_listener_records:/home/${HIVEMIND_USER}/.local/share/mycroft/listener
      - hv_ovos_models:/home/${HIVEMIND_USER}/.local/share/precise-lite
      - ${XDG_RUNTIME_DIR}/pipewire-0:${XDG_RUNTIME_DIR}/pipewire-0:ro
      - ${XDG_RUNTIME_DIR}/pulse:${XDG_RUNTIME_DIR}/pulse:ro
  portainer-agent:
    container_name: portainer_agent
    image: portainer/agent:latest@sha256:d2e5f753e8c668f7a7916621e64d6535f212b0f6ade5389a6fcc1f6830405ccf
    volumes:
      - /:/host
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    ports:
      - 9001:9001
  signoz-logspout:
    command: signoz://192.168.1.254:8082
    container_name: signoz-logspout
    environment:
      ENV: prod
      SIGNOZ_LOG_ENDPOINT: http://192.168.1.254:8082
    image: pavanputhra/logspout-signoz@sha256:6da8ce12279a5262de8b2d5c083ce82d4c878c4eab702b4d328afe147ed7553b
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
volumes:
  beszel-agent-data:
    name: beszel-agent-data
  hv_ovos_models:
    name: hv_ovos_models
    driver: local
  hv_ovos_listener_records:
    name: hv_ovos_listener_records
    driver: local
  hv_ovos_tts_cache:
    name: hv_ovos_tts_cache
    driver: local
