{
  "log_level": "INFO",
  "play_wav_cmdline": "pw-play %1",
  "play_mp3_cmdline": "pw-play %1",
  "lang": "en-us",
  "temperature_unit": "fahrenheit",
  "ready_settings": ["audio"],
  "listener": {
    "wake_word": "hey_benedikta",
    "VAD": {
      "module": "ovos-vad-plugin-silero"
    }
  },
  "hotwords": {
    "hey_benedikta": {
      "module": "ovos-ww-plugin-vosk",
      "listen": true,
      "debug": false,
      "rule": "equals",
      "samples": ["hey benedicta", "hey benedikta", "benedikta", "benedicta"],
      "fallback_ww": "hey_benedikta_pocketsphinx"
    },
    "hey_benedikta_pocketsphinx": {
      "module": "ovos-ww-plugin-pocketsphinx",
      "phonemes": "HH EY . B EH N AH D IY K T AH",
      "threshold": 1e-10,
      "lang": "en-us",
      "listen": true
    }
  },
  "skills": {
    "installer": {
      "allow_pip": true,
      "allow_alphas": true
    }
  },
  "websocket": {
    "max_msg_size": 25
  },
  "PHAL": {
    "ovos-PHAL-plugin-homeassistant": {
      "host": "http://192.168.1.253:8123",
      "api_key": "{{ ha_access_token }}"
    }
  },
  "tts": {
    "ovos-tts-plugin-server": {
      "voice": "alba-medium"
    }
  }
}